/build/
/dist/
/staging/
/android/app/debug
/android/app/profile
/android/app/release
*.class
*.iml
*.ipr
*.iws
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.history
.idea/
.packages
.pub/
.pub-cache/
.superpowers/
.svn/
app.*.map.json
app.*.symbols
migrate_working_dir/
**/doc/api/
